* {
  width: 300px;
  background-color: rgb(16, 117, 65);
}

h2 {
  color: white;
  text-align: center;
}

.countdown {
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: white;
  text-align: center;
}

.countdown span {
  font-size: 2em;
  color: rgb(148, 252, 202);
}
